<!--Footer-->
<div class="footer-container">
  <div class="footer-content">
    <div class="footer-section about">
      <h2>WeaverCrafts</h2>
      <p>
        The purpose of developing this website is to create a dynamic online marketplace that celebrates and promotes the beauty of handcrafted products. By connecting artisans with a global audience, we aim to empower creators, offer customers unique and high-quality goods, and foster a sense of community around handmade craftsmanship.
      </p>
    </div>
    <div class="footer-section links">
      <h2>Links</h2>
      <ul>
        <li><a routerLink="/" (click)="scrollToTop()">Home</a></li>
        <li><a routerLink="/product" (click)="scrollToTop()">Handcrafted Products</a></li>
        <li><a routerLink="/contact" (click)="scrollToTop()">Contact Us</a></li>
        <li><a routerLink="/artists" (click)="scrollToTop()">Artists</a></li>
        <li><a routerLink="/about" (click)="scrollToTop()">About</a></li>
      </ul>
    </div>
    <div class="footer-section social">
      <h2>Follow us</h2>
      <div class="social-icons">
        <a href="https://www.instagram.com/posiforge/" class="social-icon"><i class="fab fa-instagram"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-google-plus-g"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    © 2024 WeaverCrafts | Designed by WeaverCrafts Team
  </div>
</div>
