<!-- Start Product Section -->
<section class="product-section">
    <div class="container">
        <div class="heading text-center mb-5">
            <h2>Artisanal Creations</h2>
            <p>Discover the beauty of craftsmanship in our curated collection.</p>
        </div>
        <div class="row">
            <!-- Product Cards -->
            <div class="col-12 col-md-6 col-lg-4 mb-4" *ngFor="let f of furnitureCategory">
                <div class="card hvr-grow">
                    <img src="{{f.imagename}}" class="card-img-top img-fluid" alt="{{f.categoryname}}">
                    <div class="card-body text-center">
                        <h3 class="card-title mb-3">{{f.categoryname}}</h3>
                        <a (click)="sendData(f.categoryID)" routerLink="/shop" class="btn btn-custom">Shop Now</a>
                    </div>
                </div>
            </div>
            <!-- End Product Cards -->
        </div>
    </div>
</section>
<!-- End Product Section -->
