<!-- Start Product Section -->
<section class="product-section" style="background-color: #f5f5f5; padding: 50px 0;">
    <div class="container">
        <div class="heading text-center mb-5">
            <h1 class="display-4">Handcrafted Items</h1>
            <p class="lead">Explore our exquisite collection of handcrafted treasures.</p>
        </div>
        <div class="row justify-content-center">
            <!-- Product Cards -->
            <div class="col-12 col-sm-6 col-md-4 mb-4" *ngFor="let f of furnitureCategory">
                <div class="card border-0 shadow-sm">
                    <img src="{{f.imagename}}" class="card-img-top img-fluid" alt="Product Image">
                    <div class="card-body text-center">
                        <h3 class="card-title mb-3">{{f.categoryname}}</h3>
                        <a (click)="sendData(f.categoryID)" routerLink="/shop" class="btn btn-primary btn-sm">Shop Now</a>
                    </div>
                </div>
            </div>
            <!-- End Product Cards -->
        </div>
    </div>
</section>
<!-- End Product Section -->
